/*Importar tipografía*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*Selector universal*/
*{
    margin: 0;
    padding: 0;
}
/*selector de etiqueta*/
a{
    margin-left: 30px;
    color: chocolate;
}
/*selector por id*/
#option_one {
    color: blue;
}
#option_two {
    color: #680000;
}
#option_trhee, #option_four, #option_five {
    color:darkmagenta;
}
/*selector por clases*/
.group_options {
    background-color:beige;
    margin top: 5px;
}
.group_class {
    padding: 10px;
}
/* selector pseudoclases */
.group_options:hover {
    background-color: yellow;
    color:aqua;
}
/*selector por atributo*/
[disabled] {
    background-color: red;
}
/* selectores descendentes */
#papa{
    border: 2px double red;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
    box-shadow: 0px 20px 10px;
}
#papa> .hermanos + .hermanos{
    color: aqua;
}
/* selector hijo */
#papa > #etiqueta > a{
    color: darkcyan;
}